/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

@import url('https://fonts.googleapis.com/css?family=Alegreya|Nunito');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Alegreya, 'Helvetica', 'Verdana', serif;
}

html,
body {
    background-color: #7F4F00;
}

h1 {
    font-size: 5.254rem;
    /* ADD the Google serif font to this font stack */
    font-family: Nunito, 'Georgia', 'Garamond', sans-serif;
    padding: 1rem 2rem;
}

h1 {
    display: inline-block;
}

small {
    font-size: 30%;
    color: #fff;
}

h2 {
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: Nunito, 'Georgia', 'Garamond', sans-serif;
    padding: 1rem 2rem;
}

nav li {
    font-size: 2.618rem;
}

p {
    font-size: 1.618rem;
    padding: 1rem 2rem;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: #FFBC4C;
    color: #fff;
}

header {
    background-color: #CC7F00;
    color: #fff;
    overflow: auto;
}

.menu-h {
    width: 100%;
    float: left;
    overflow: auto;
    border-bottom: 2px solid #7F4F00;
}

.menu-h li {
    /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    width: 20%;
    display: inline;
    float: left;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.menu-h a,
.menu-h a:link,
.menu-h a:visited {
    /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
    width: 100%;
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;
    background-color: #FF9F00;
    color: #7F4F00;
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu-h a:hover,
.menu-h a:active {
    background-color: #7F4F00;
    color: #fff;
}

.menu-v {
    width: 20%;
    float: left;
    overflow: auto;
}

.menu-v li {
    /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    width: 100%;
    list-style-type: none;
    float: left;
    clear: both;
    background-color: #fff;
    font-size: 1.4rem;
    border-bottom: #7F5E26 solid 3px;
}


.menu-v a,
.menu-v a:link,
.menu-v a:visited {
    /* style the anchors to fill the entire width of the li */
    display: block;
    width: 100%;
    padding: 0.4rem 0.8rem;
    background: #FF9F00;
    color: #194C45;
    text-decoration: none;
     -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu-v a:hover,
.menu-v a:active {
    background-color: #CC7F00;
    font-weight: bold;
    color: #ffffff;
    box-shadow: inset #CC7F00 -3px -3px 4px, inset #000 1px 1px 2px;
}

main {
    width: 80%;
    float: right;
    background-color: #FFBC4C;
    overflow: auto;
    color: #7F4F00;
}

.auxMargin {
    width: 80%;
    float: right;
    overflow: auto;
    /*border: 1px solid black;*/
    padding: 1.5em 1.5em 1.5em 0;
}

footer {
    clear: both;
    border-top: 0.2rem solid #CC7F00;
}

footer p {
    font-family: Alegreya, helvetica, arial, sans-serif;
    font-size: 100%;
    text-align: center;
    color: #7F4F00;
}